body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.first-section {
    margin-top: 50px;
    margin-bottom: 70px;
}

.head-items {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-img {
    max-width: 32%;
    border-radius: 10px;
}

.header-text1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -1;
}

.header-text2 {
    font-size: larger;
    opacity: 80%;
    text-align: justify;
    margin-right: 30px;
    margin-bottom: 10px;
}

.shop-btn {
    border: 0px solid black;
    width: 30%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #087f5b;
    font-weight: 500;
    font-size: 23px;
    padding: 11px;
    border-radius: 27px;
    margin-top: 15px;
}

.text-div {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.text3-div {
    display: flex;
}

.text3-div>div>p {
    width: 80%;
    text-align: justify;
}

.fa-solid {
    font-size: 25px;
    color: #087f5b;
}

.card-btn {
    border: 0px solid black;
    width: 33%;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #087f5b;
    font-weight: 400;
    font-size: 15px;
    padding: 11px;
    border-radius: 20px
}